/*
author:Thomas Binet
date:20/06/2021
*/


.titre
{
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	border: solid #5B6DCD 10px;
	padding: 5px;		
}
/* body
{
	background-image: url("photototo.PNG");
	background-attachment: fixed;  Le fond restera fixe
	background-repeat: no-repeat;  Le fond ne sera pas répété 
	background-position: top right;  Le fond sera placé en haut à droite 
	background-size: 10em;
} */


#photo_id
{
	width: 9em;
	float: left;
}

.profil
{
	text-align: center;
	text-decoration: underline solid black;
}


.dessous
{
	clear: both;
}

.description
{
	list-style-type:none;
	padding-left: 7.5em;
	margin: 0px;
	text-align: left;
}
li .description
{
	padding-left: 30px;
}
li::before .description
{
	content: "•";
	padding-right: 4px;
	color: green;
}